:root {
  --primary-color: #5252f8;
  --secondary-color: #f0f0f0;
  --hero: #f9f7fe;
  --font-1: "Playfair Display", serif;
  --font-2: "Poppins", sans-serif;
}

.navbar {
  background-color: black;
}

.navbar-nav {
  border: solid 1px #ffff;
  border-radius: 10px;
}

.container-flex {
  background: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: block;
  font-family: var(--font-2);
  justify-content: center;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-family: var(--font-1);
  font-weight: bold;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
  font-family: var(--font-1);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: var(--font-1);
  font-weight: bold;
  opacity: 0.7;
}

h3 .prefix {
  font-family: var(--font-1);
  font-weight: bold;
  font-size: 19px;
}

/*p {
  align-items: center;
  font-size: 18px;
  padding: 20px;
}

a .open {
  text-align: center;
}*/

.change {
  display: block;
  text-align: left;
}

/*.col-md-6 a {
  font-size: 18px;
}*/

.project {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.nav-link {
  font-family: var(--font-1);
  font-weight: 600;
}

.nav-link:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.link-box {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

/*.link-box a {
  font-size: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 10px 15px 10px 15px;
  padding: 20px 15px;
  text-decoration: none;
}*/

h4 {
  font-family: var(--font-1);
  font-weight: bold;
}

#about {
  padding-top: 85px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.project-card:nth-child(1) {
  grid-row: 1 / span 2;
}
.project-card:nth-child(2) {
  grid-row: 2 / span 2;
}
.project-card:nth-child(3) {
  grid-row: 3 / span 2;
}
.project-card:nth-child(4) {
  grid-row: 4 / span 2;
}
.project-card:nth-child(5) {
  grid-row: 5 / span 2;
}
.project-card:nth-child(6) {
  grid-row: 6 / span 2;
}

.project-card {
  background: #0f0f0f;
  border-radius: 20px;
  padding: 25px;
}

#projects {
  padding-top: 110px;
}

#contacts {
  padding-top: 90px;
}

.email {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-size: 55px;
  opacity: 0.7;
}

.bi {
  opacity: 0.7;
}

.arrow {
  color: #ffff;
}

#about-me {
  font-size: 100px;
}

#contact-me {
  font-size: 50px;
}

.myself {
  display: flex;
  justify-content: space-evenly;
}

.open {
  font-size: 28px;
  text-decoration: none;
}

.open:hover {
  text-decoration: underline;
}

.hero {
  display: block;
  padding: 10px 60px;
  text-align: center;
}

/*.hero p {
  font-size: 36px;
  font-family: var(--font-2);
  font-weight: bold;
  margin-bottom: 0;
}*/

.hero h1 {
  font-family: var(--font-1);
  font-weight: bold;
  opacity: 0.8;
  margin-top: 0;
}

.hero h2 {
  font-family: var(--font-1);
  font-weight: bold;
}

.hero h3 {
  font-size: 24px;
  font-family: var(--font-1);
  font-weight: normal;
  line-height: 2;
}

.my-picture {
  border-radius: 10px;
  max-width: 100%;
  max-height: 70%;
}

.describe p {
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: 400;
}

.check-out {
  font-family: var(--font-1);
  font-size: 25px;
  font-weight: 700;
}

.work {
  font-family: var(--font-1);
  font-size: 28px;
}

.work:hover {
  color: #272142;
  text-decoration: none;
}

.name {
  font-size: 64px;
  margin-bottom: 10px;
}

.calendar {
  border: 8px;
  max-height: 90%;
}

.button {
  background: #ffff;
  border-radius: 15px;
  color: #0f0f0f;
  font-weight: 700;
}

.tools {
  color: rgb(239, 56, 56);
  font-weight: 700;
  font-size: 18px;
}

.tool {
  max-width: 10%;
}

.btn.btn-danger {
  font-family: var(--font-2);
  font-size: 16px;
  padding: 15px 30px;
}

.btn.btn-primary {
  font-family: var(--font-2);
  font-size: 16px;
  padding: 15px 30px;
}

.inquiry {
  font-family: var(--font-1);
  font-size: 35px;
  opacity: 1;
}

/*.together {
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}*/

.imail {
  font-family: var(--font-2);
  font-size: 20px;
  text-decoration: none;
}

.imail:hover a {
  text-decoration: none;
}

footer {
  background: black;
  border-radius: 5px;
}

.git {
  font-size: 18px;
  font-family: var(--font-1);
  font-weight: bold;
}

.git em {
  font-weight: normal;
}
